CATALOG_COLLECTOR_SERVICE_ON=true
DATABASE_URL=
DEBUG=false
INGEST_BATCH_SIZE=8
INGEST_PERIOD_SECONDS=15
PRODUCTION=true
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=qa_movies
QDRANT_DENSE_VECTOR_NAME=overview-dense-vector
QDRANT_HOST=192.168.55.113
QDRANT_PORT=6334
QDRANT_USE_SSL=false
SERVICE_FQDN_CATALOG_COLLECTOR=
SERVICE_URL_CATALOG_COLLECTOR=
DATASET_LOAD_PERCENTAGE=0.01
OPENAI_BASE_URL=https://litellm.mkurowski.dev
OPENAI_EMBEDDING_KEY=
VECTOR_DIMENSION=256
SERVICE_URL_DOZZLE=https://dozzle.mkurowski.dev
SERVICE_FQDN_DOZZLE=dozzle.mkurowski.dev
SERVICE_FQDN_CATALOG_INGESTER=
SERVICE_URL_CATALOG_INGESTER=
EMBEDDING_TIMEOUT_SECONDS=30
EMBEDDING_MAX_PARALLEL=2
CHUNK_SIZE=1200
QDRANT_SPARSE_VECTOR_NAME=overview-sparse-vector
SERVICE_URL_CATALOG_API=https://catalog-api.mkurowski.dev
SERVICE_FQDN_CATALOG_API=catalog-api.mkurowski.dev
OPENAI_EMBEDDING_MODEL_DIMENSION=256
OPENAI_EMBEDDING_MODEL=voyage/voyage-4-lite
OPENAI_CHAT_MODEL=GPT-5.6-Luna
OPENAI_CHAT_KEY=
QDRANT_SSL=false
REDIS_URL=
SEARCH_API_QDRANT_PORT=6333
NEXT_PUBLIC_SEARCH_API_URL=https://catalog-api.mkurowski.dev/api
SERVICE_URL_CATALOG_UI=
SERVICE_FQDN_CATALOG_UI=
API_PORT=8081
FULL_RELOAD=false