QDRANT_URL=https://qdrant.dev
QDRANT_API_KEY=

# OpenTelemetry / SigNoz
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=https://otel.dev
OTEL_SERVICE_NAME=catalog-api

EMBEDDING_SERVICE_URL=