QDRANT_HOST=
QDRANT_PORT=
QDRANT_API_KEY=
QDRANT_SSL=
QDRANT_SPARSE_VECTOR_NAME=
QDRANT_DENSE_VECTOR_NAME=
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=voyage/voyage-4-lite
OPENAI_EMBEDDING_MODEL_DIMENSION=256

REDIS_URL=

DATABASE_URL=

API_PORT=8080

BETTER_AUTH_SECRET=