DATABASE_URL=
PRODUCTION=false
DEBUG=true

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_INSECURE=false
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=development
OTEL_SERVICE_NAME="catalog-ingester"

INGEST_BATCH_SIZE=8
# Set to 0 to disable ticker mode and run ingestion in a continuous loop
INGEST_PERIOD_SECONDS=15

# Local TEI settings (used when USE_QDRANT_INFERENCE=false)
EMBEDDING_MODEL_ENDPOINT="http://localhost:8080/embed"
EMBEDDING_TIMEOUT_SECONDS=30
EMBEDDING_MAX_PARALLEL=2

QDRANT_API_KEY=
QDRANT_HOST=
QDRANT_PORT=6334
QDRANT_USE_SSL=false
QDRANT_COLLECTION_NAME="movies"
QDRANT_DENSE_VECTOR_NAME="overview-dense-vector"

# Qdrant Cloud inference settings
USE_QDRANT_INFERENCE=false
QDRANT_INFERENCE_MODEL=""