DATABASE_URL=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_INSECURE=false
OTEL_SERVICE_NAME="catalog-ingester"
DEBUG=true
QDRANT_API_KEY=
QDRANT_HOST=
QDRANT_PORT=6334
QDRANT_COLLECTION_NAME="movies"
EMBEDDING_MODEL_ENDPOINT="http://localhost:8080/embed"
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production
INGEST_PERIOD_SECONDS=15