DATABASE_URL=
TMDB_API_KEY=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_SERVICE_NAME=
# OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
DATASET_OUTPUT_DIR="dataset"
OTEL_LOGS_EXPORTER=otlp
OTEL_PYTHON_LOG_CORRELATION=true
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
DEBUG=false
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=development
CATALOG_COLLECTOR_SERVICE_ON=true
DATASET_LOAD_PERCENTAGE=100